
body{
    font-family: monospace;
    background-color:rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center;
    }


.container{
    text-align: center;
    margin-top: 19%;
    /* width: 450px; */
    border: 2px solid   hsla(0, 0%, 100%, 0.2);
    border-radius: 50px;
    padding: 22px;
    position: absolute;
    justify-content: center;
}
h1{
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
font-size: 55px;
font-family: Arial, Helvetica, sans-serif;
backdrop-filter: blur(20px);
background-color: hsla(0, 0%, 100%, 0.2);
border-radius: 30px;
padding: 10px;
width: 550px;
justify-content:center ;
}


.num{
    display: flex;
    color: rgb(255, 255, 255);
    margin-top:  4%;
    /* position: absolute;
    bottom: 0; */
}
h2{
    font-size: 60px;
    margin-inline: 4px;
}

button{
    width: 120px;
    height: 35px;
    background-color:  hsla(0, 0%, 100%, 0.2);
    color: rgb(228, 228, 228);
    font-size: 25px;
    border: none;
    outline: none;
    border-radius: 20px;
    margin-inline: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    background-color:  hsla(0, 0%, 100%, 0.2);
    justify-content: center;
}